<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">School which will change the world!</h2>
                <hr class="light">
                <p class="text-faded">Founded in principles of "Gurukul", this is a one-of-its-kind school that will educate, shape, and transform every individual under its umbrella!</p>
                <a href="#" class="btn btn-default btn-xl">Learn More!</a>
            </div>
        </div>
    </div>
</section>
