<header>
    <div class="header-content">
        <div class="header-content-inner">
            <!-- <h1>Omkar Rashtradev Vidyalay</h1> -->
        	<h2>Omkar Rashtradev Vidyalay<h2>
            <hr>
            <p>A vision to prepare, motivate, and empower students for a rapidly changing world by instilling in them critical thinking skills, a global perspective, and cultural values while giving them a holistic upbringing!</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
